/* STYLE FOR CONTACT ONLY */

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    width: 800px;
    height: auto;
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-template-rows: auto;
}

.grid-item {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-style: inset;
    border-color: black;
    border-width: 3px;
}

.grid-item1 {               /* CHECKBOX */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid-item2 {               /* NAME */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item3 {               /* AGE */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item4 {               /* EMAIL */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item5 {               /* PASSWORD */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item6 {               /* DOB */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-item7 {               /* SUBMIT */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

p {
    padding-top: 5px;
    padding-bottom: 15px;
}

label {
    font-weight: 800;
}

legend {
    font-size: 1.5rem;
    font-weight: 900;
}

input {
    margin: 10px 0px;
}

.button {
    padding: 10px;
    background-color: pink;
    border-radius: 4px;
}